* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main {
    width: 100vw;
    height: 100vw;
    background-color: purple;
}

.container img {
    text-align: center;
    display: flex;
    margin: 0 auto;
    border-radius: 10px;
}
.logo {
    width: 400px;
} 
.texto {
    padding: 18px 8;
    text-align: center;
    color: black;
    font-weight: bold;
    background-color: white;
    width: 280px;
    margin: 0 auto;
    position: relative;
    margin-bottom: -18px;
    border-radius: 18px;
}

p {
    font-weight: bold;
}
h1 {
    padding: 18px 8;
    text-align: center;
    color: black;
    font-weight: bold;
    background-color: white;
    width: 280px;
    margin: 0 auto;
    position: relative;
    margin-bottom: -18px;
    border-radius: 18px;
} 

